<!DOCTYPE html>
<html>
    <head>
            <title>Another App To Do</title>
        </head>
    <body>
         <header>
            <h1><a href="/">This is another app to do called Another To Do App</a></h1>
        </header>

        <p>Hi there!</p>

        <section>Somehow this should be another section

        <p>It works!</p></section> 

         <article>
            <time>published: 01.01.2024, 12:14</time>
            <h2><a href="">My first task</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>


        <aside>This should be a sidebar </aside>
        <footer>This should be a footer</footer>
    </body>
</html>