<!DOCTYPE html>
<html>
    <head>
            <title>Another App To Do</title>
        </head>
    <body>
         <header>
            <h1><a href="/">This is another app to do called Another To Do App</a></h1>
        </header>

        <p>Hi there!</p>

        <section>Somehow this should be another section

        <p>It works!</p></section> 

       
        {% for task in tasks %}
            <article>
             <time>created: {{ task.created_date }}</time>
            <h2><a href="">{{ task.title }}</a></h2>
            <p>{{ task.description|linebreaksbr }}</p>
             </article>
        {% endfor %}
      

    </body>
</html>